/* Fonts */
@font-face {
	font-family: Rubik;
	src: url(fonts/Rubik-Regular.ttf);
}
@font-face {
	font-family: Saul;
	src: url(fonts/better-call-saul-normal.ttf);
}
@font-face {
	font-family: Agrandir;
	src: url(fonts/Agrandir-WideBlackItalic.otf);
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: Agrandir;
	src: url(fonts/Agrandir-GrandHeavy.otf);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Agrandir;
	src: url(fonts/Agrandir-TextBold.otf);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Agrandir;
	src: url(fonts/Agrandir-Tight.otf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Agrandir;
	src: url(fonts/Agrandir-Narrow.otf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Agrandir;
	src: url(fonts/Agrandir-Regular.otf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Agrandir;
	src: url(fonts/Agrandir-WideLight.otf);
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Agrandir;
	src: url(fonts/Agrandir-ThinItalic.otf);
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: Agrandir;
	src: url(fonts/Agrandir-GrandLight.otf);
	font-weight: 100;
	font-style: normal;
}

html {
	font-size: calc(0.4rem + 1vmin) !important;
}

/* Reset */
* {
	box-sizing: border-box;
	margin: auto;
	padding: 0;
}

/* Main */
.container {
	background-attachment: fixed;
	background-color: #bbbfc3;
	background-image: url("../images/amazon.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	padding-top: 5rem;
	position: relative;
}

h2.headline {
	margin-bottom: 0.25rem;
}

h2.headline,
h3.hashtag,
div.slogan > div:first-child,
div.slogan > div:last-child {
	font-family: Agrandir;
	font-weight: 700;
	padding: 0.05rem 1.25rem 0.05rem 1.25rem;
	text-align: center;
	text-transform: uppercase;
	width: min-content;
}

h2.headline,
h3.hashtag,
div.slogan > div:first-child {
	border-radius: 2px;
}

h2.headline,
div.slogan > div:first-child,
div.slogan > div:last-child {
	font-size: 3rem;
	font-weight: 700;
	line-height: 4.75rem;
}

h2.headline,
div.slogan > div:first-child,
div.slogan > div:last-child {
	background-color: #ffbd59;
	color: #41a1c7;
}

h3.hashtag {
	background-color: #41a1c7;
	color: #ffbd59;
	font-size: 1.75rem;
	font-weight: 600;
	margin-bottom: 1.25rem;
}

div.slogan > div:last-child {
	border-radius: 0 0 2px 2px;
	margin-bottom: 2rem;
	padding-bottom: 0;
	padding-top: 0;
}

h1 {
	font-family: Saul;
	text-align: center;
}

.container .tagline {
	width: fit-content;
}

.container .tagline a {
	text-decoration: none;
}

.tagline .better-call {
	color: #ff9800;
	font-size: 3.5rem;
	margin-left: 0;
	text-shadow: 4px 4px black;
	width: fit-content;
}

.tagline .better-call :last-child {
	width: min-content;
	margin-left: auto;
	margin-right: 0;
	margin-top: -20px;
}

.tagline .unions {
	color: #41a1c7;
	font-size: 5rem;
	margin-top: -25px;
	text-shadow: 6px 6px black;
	transform: rotate(-10deg);
}

.tagline .smile-box {
	width: 15rem;
	margin-top: -1.25rem;
}

.tagline .smile-box img {
	width: 100%;
}

/* down arrow */
.go-down-btn {
	bottom: 10px;
	position: absolute;
	right: 10px;
	width: 40px;
}

.go-down-btn img {
	width: 100%;
}

/* Footer */
footer {
	background-color: #ffbd59;
	padding: 2.75rem 6.25rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

footer p,
footer a {
	font-family: Agrandir;
	line-height: 1.85rem;
	font-size: 1.35rem;
	font-weight: 600;
	text-align: center;
	word-spacing: 0.05rem;
}

footer a {
	color: #25647c;
}

.logo-box {
	cursor: pointer;
	width: 20rem;
}

.logo-box img {
	width: 100%;
}

/* Animation */
.attract {
	animation-name: bounce;
	animation-duration: 0.9s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes bounce {
	0% {
		margin-bottom: 0;
	}

	50% {
		margin-bottom: 10px;
	}

	100% {
		margin-bottom: 1px;
	}
}

/* Mediaquery */
@media screen and (max-width: 640px) {
	h2.headline,
	div.slogan > div:first-child,
	div.slogan > div:last-child {
		font-size: 2.5rem;
	}

	.tagline .better-call :last-child {
		margin-top: -10px;
	}

	.tagline .unions {
		margin-top: -17.5px;
	}

	footer {
		padding: 1rem 3rem;
	}

	footer p,
	footer a {
		font-family: Agrandir;
		line-height: 2.75rem;
		font-size: 1.75rem;
		font-weight: 600;
		text-align: center;
		word-spacing: 0.05rem;
	}
}
