/* @font-face {
	font-family: "Rubik";
	src: url("https://twc-italia.org/assets/fonts/rubik/Rubik-Regular.ttf")
		format("truetype");
	src: url("fonts/MervaleScript-Regular.ttf") format("truetype");
} */

@font-face {
	font-family: Saul;
	src: url(fonts/better-call-saul-normal.ttf);
}
@font-face {
	font-family: Agrandir;
	src: url(fonts/Agrandir-WideBlackItalic.otf);
}

* {
	box-sizing: border-box;
	margin: auto;
	padding: 0;
}

.container {
	background-attachment: fixed;
	background-color: #bbbfc3;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	padding-top: 2.75rem;
}

.container#logistica {
  background-image: url("../images/amazon.png");
}

.container#cultura {
  background-image: url("../images/netflix.png");
}

.container#stagisti {
  background-image: url("../images/meta.svg");
}

.container#fedex {
  background-image: url("../images/fedex.svg");
}

h2.headline {
	margin-bottom: 0.25rem;
}

h2.headline,
h3.hashtag,
div.slogan > div:first-child,
div.slogan > div:last-child {
	font-family: Agrandir;
	padding-top: 0.05rem;
	padding: 0.65rem;
	text-align: center;
	text-transform: uppercase;
	width: min-content;
}

h2.headline,
h3.hashtag,
div.slogan > div:first-child {
	border-radius: 2px;
}

h2.headline,
div.slogan > div:first-child,
div.slogan > div:last-child {
	font-size: 2rem;
	font-weight: 700;
}

.container#logistica h2.headline,
.container#logistica div.slogan > div:first-child,
.container#logistica div.slogan > div:last-child {
	background-color: #ffbd59;
	color: #41a1c7;
}

.container#cultura h2.headline,
.container#cultura div.slogan > div:first-child,
.container#cultura div.slogan > div:last-child {
	background-color: #ffffff;
	color: #102832;
}

.container#stagisti h2.headline,
.container#stagisti div.slogan > div:first-child,
.container#stagisti div.slogan > div:last-child {
	background-color: #ffffff;
	color: #0568e1;
}

.container#fedex h2.headline,
.container#fedex div.slogan > div:first-child,
.container#fedex div.slogan > div:last-child {
	background-color: #ffbd59;
	color: #102832;
}

h3.hashtag {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 1.25rem;
}

.container#logistica h3.hashtag {
	background-color: #41a1c7;
	color: #ffbd59;
}

.container#cultura h3.hashtag {
	background-color: #ffffff;
	color: #102832;
}

.container#stagisti h3.hashtag {
	background-color: #ffffff;
	color: #0568e1;
}

.container#fedex h3.hashtag {
	background-color: #102832;
	color: #ffbd59;
}

div.slogan > div:last-child {
	border-radius: 0 0 2px 2px;
	margin-bottom: 1.25rem;
	padding-top: 0;
	padding-bottom: 0;
}

h1 {
	font-family: Saul;
	text-align: center;
}

.container .tagline {
	width: fit-content;
}
.container .tagline a {
	text-decoration: none;
}

.tagline .better-call {
	text-shadow: 4px 4px black;
}

.tagline .unions {
	font-size: 4rem;
	text-shadow: 6px 6px black;
	transform: rotate(-10deg);
}

.container#logistica .tagline .better-call {
	color: #ff9800;
}

.container#logistica .tagline .unions {
	color: #41a1c7;
}

.container#cultura .tagline .better-call {
	color: #ffffff;
}

.container#cultura .tagline .unions {
	color: #bb0f0f;
}

.container#stagisti .tagline .better-call {
	color: #ffffff;
}

.container#stagisti .tagline .unions {
	color: #0568e1;
}

.container#fedex .tagline .better-call {
	color: #ff9800;
}

.container#fedex .tagline .unions {
	color: #41a1c7;
}

.tagline img {
	width: 12rem;
	margin-top: -0.75rem;
}

.btn-box {
	cursor: pointer;
	margin-top: 2rem;
	width: 8.75rem;
}

.btn-box img {
	width: 100%;
}

footer {
	padding: 1rem;
}

footer#logistica {
	background-color: #ffbd59;
}

footer#cultura {
  background-color: #ffffff;
}

footer#stagisti {
  background-color: #ffffff;
}

footer#fedex {
	background-color: #ffbd59;
}

footer p {
	font-family: Agrandir;
	text-align: center;
}

footer#logistica p a {
	color: #25647c;
}

footer#cultura p a {
	color: #102832;
}

footer#cultura p a {
	color: #0568e1;
}

footer#fedex p a {
	color: #25647c;
}