@font-face {
  font-family: "Rubik";
  src: url("https://twc-italia.org/assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
  src: url("fonts/MervaleScript-Regular.ttf") format("truetype");
}

body {
  margin: 0 auto;
  color: white;
  text-align: center;
  width: 100%;
  font-family: Rubik, Arial, sans-serif;
  word-wrap: break-word;
  font-style: normal;
}

a {
  color: white;
  text-decoration: none
}

a:hover {
  color: rgb(217, 217, 217);
}

h1 {
  font-size: 2vw;
  margin: 0;
}

h2 {
  font-size: 1.5vw;
  text-align: left;
  margin: 0;
}

h3 {
  font-size: 1vw;
  text-align: left;
  margin: 0;
}

h4 {
  font-size: 0.9vw;
  text-align: left;
  margin: 0;
}

/*Header*/

.header {
  position: fixed;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: white;
  z-index: 9;
  display: flex;
  justify-content: space-between;
}

.header .supporting-links a:visited,
.header .supporting-links a:link {
  color: #212121;
}

.header .work {
  font-weight: 100;
  margin-left: 1em;
  display: -webkit-inline-box;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  color: #E6141B;
}

.header .work span {
  font-weight: 600;
  color: #212121;
}

.header .work span#scuola {
  color: #991310;
}

.header .work span#di {
  text-transform: lowercase;
  font-family: "MervaleScript";
  font-style: italic;
}

.header .work span#mobilitazione {
  color: #016aac;
}

.header .work span#sindacale {
  color: #8c8a23;
}

.header .supporting-links {
  font-size: 1.125em;
  float: right;
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  margin-right: 1em;
}

.header .supporting-links li {
  text-transform: uppercase;
  font-weight: 600;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.header .supporting-links a:hover {
  color: #016aac;
}

@media screen and (max-width: 420px) {
  /*
     FIXME: Is this even needed?

    .header .logo {
    background-size: cover;
    margin-left:0.25em
  }*/
}

@media screen and (max-width: 420px) {
  .header .supporting-links {
    font-size: 1em;
    display: block;
    text-align: right
  }

  .header .supporting-links li:nth-child(2) {
    display: none
  }

  .header .supporting-links li:nth-child(1) {
    display: none
  }
}

@media screen and (max-width: 915px) {
  .header .work {
    display: none
  }
}

/*Container*/

.container h2 {
  line-height: 1.1em;
  padding-bottom: 0.2em
}

.container h3 {
  line-height: 1.5em;
  font-weight: 300
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  width: 100%
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  width: 100%;
  margin: 76px 0 0 0;
}

.title {
  flex: 0 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.title h1 {
  background-color: white;
  color: #383d44;
  padding: 6px;
  border-radius: 5px
}

div#logistica .title h1 {
  background-color: #ffbd59;
  color: #41a1c7;
}

div#logistica .title h2 {
  background-color: #41a1c7;
  color: #ffbd59;
}

/*Joinbox*/
.joincontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%
}

.joinbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 0 1 auto;
  position: relative;
  padding-bottom: 8%
}

.joinpoints {
  flex: 0 1 auto;
  width: 100%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  padding: 15px
}

.joinpoints h3 {
  text-align: center;
  margin: 0.2em 0;
  padding-left: 1%;
  color: #383d44;
  font-size: 1.3vw
}

/*Bottone e Privacy Policy*/
.buttonandprivacy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: center;
}

.spacer {
  flex: 0 1 auto;
  width: 20%;
}

.privacy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

/* Schermi medi */
@media screen and (max-width: 1180px) {

  h2 {
    font-size: 2vw;
  }

  h3 {
    font-size: 1.5vw;
  }

  h4 {
    font-size: 1.2vw;
  }

  .joinbox {
    padding-bottom: 13%;
  }

  .joinpoints h3 {
    font-size: 1.6vw;
    margin: 0.2em 0;
  }

}

@media screen and (max-width: 915px) {
  .content {
    margin: 65px 0 0 0;
  }
}

/* Mobile */

@media screen and (max-width: 700px) {

  body {
    -webkit-overflow-scrolling: touch;
    padding-top: 14px env(safe-area-inset-top) padding-left: 14px env(safe-area-inset-left) padding-right: 14px env(safe-area-inset-right) padding-bottom: 14px env(safe-area-inset-bottom)
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 3vw;
  }

  h4 {
    font-size: 2.4vw;
  }

  .container h3 {
    margin-bottom: 1em;
  }

  .joinpoints h3 {
    font-size: 3.2vw;
    margin: 0.2em 0;
  }

  .spacer {
    width: 0;
  }

}

/*POPUP*/

.modal-container h3:first-child {
  margin: 0;
}

.modal-container h3 {
  text-align: center;
  font-weight: 600;
  margin: 0;
}

.modal-container h2 {
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
}

.modal-container {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  flex: 0 1 auto;
}

.modal-container button {
  display: block;
  color: #383d44;
  background: none;
  border: 0;

}

.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.modal-container #modal-toggle:hover~button {
  background: none;
  color: rgb(219, 219, 219);
}

.modal-container #modal-toggle:checked {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}

.modal-container #modal-toggle:checked~.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  position: absolute;
  left: calc(50% - 250px);
  top: 30%;
  border-radius: 5px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  color: black;
  text-align: center;

}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close {
  color: #666;
  position: absolute;
  right: 2px;
  top: 0;
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close.button {
  top: initial;
  bottom: 20px;
  right: 20px;
  background: none;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;
  display: none;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close.button:hover {
  color: #fff;
  background: #1E824C;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close:hover {
  color: #333;
}

@media (max-width: 500px) {

  .modal-container #modal-toggle:checked~.modal-backdrop .modal-content {
    left: 0;
    border-radius: 0
  }
}